<div class="education" [@flyInOutE]>
  <h3>2011 – 2015 BACHELOR OF COMPUTER SCIENCE</h3>
  <h4>INTERNATIONAL ISLAMIC UNIVERSITY MALAYSIA (IIUM)</h4>
  <p>CGPA		: 3.1</p>
  <p><b>ACTIVITIES</b></p>
  <ul>
    <li>Vice President of ICT Student Society (2014)</li>
    <li>Third Place - Game Salad for Game Programming (2014)</li>
    <li>Network Programming Tutor (2014)</li>
    <li>Consolation Prize - Hackathon Open Data in TM Innovation Center (2015)</li>
  </ul>
</div>
