<div class="vid clear" [@flyInOutV]>
  <h3>MY VIDEOS</h3>
  <div [@listAnimation]="ydata?.length">
    <div *ngFor="let data of ydata" >
          <div  *ngIf="data.id.kind == 'youtube#video'" class="col">
            <a href="https://www.youtube.com/watch?v={{data.id.videoId}}" target="_blank">
              <img src="{{data.snippet.thumbnails.high.url}}" alt="Youtube image" class="yimg">
            </a>
            <h4>{{data.snippet.title}}</h4>
          </div>
    </div>
  </div>

</div>
