.vid {
    background-color: #efefefa8;
    color:#000;
    padding:10px;
    border-radius: 5px;
    display: block;
    height: auto;
}

.clear {
  clear: both;
}

.clear:after {
  clear: both;
  content: "";
  display: table;
}
.col {
  float: left;
  width: 30%;
  padding: 1.5%;
  height: auto;
}
.yimg {
  width: 100%;
}

@media only screen and (max-width: 600px){
  .col {
    float: left;
    width: 96%;
    padding: 2%;
    height: auto;
  }
}
