<div class="main-exp"  [@flyInOut] >
  <h3 class="center">MY EXPERIENCE</h3>
  <div class="exp">
    <h4>HEWLETT-PACKARD ENTERPRISE</h4>
    <p>IT Developer / Engineer 1 <span style="font-size:small">2015 - 2016</span></p>
    <p>Summary: Started as internship and continue work about 1 and half year. <br>
      Work as developers and responsible for designing, coding and modify application based on business requirements.
    </p>
    <ul>
      <li>Involve in Marketing IT for website development purpose</li>
      <li>HPE Passport for authentication of HPE Customers through portals. (Java EE)</li>
      <li>Employee Portal for internal application</li>
      <li>Jenkins Subject Matter Expert on deploying and integration of the application</li>
      <li>Experience on DevOps for Continuous Integration and Continuous Deployment</li>
      <li>Handles SCRUM for daily updates</li>
      <li>Work with HPE Accessibility sites (using .NET)</li>
      <li>Clone and maintain existing application for Split of Management Office (SMO) - (Java EE, .NET, HTML, Sharepoint )</li>
      <li>Front End development using REST API (JQuery, JS, CSS, HTML5, BootStrap)</li>
    </ul>
  </div>
  <div class="exp">
    <h4>INFORMATION TECHNOLGY DIVISION, INTERNATIONAL ISLAMIC UNIVERSITY MALAYSIA</h4>
    <p>Information Technology Officer <span style="font-size:small">2017 - Current</span></p>
    <p>Summary: Become a Team Leader on 2018 that manage and oversee performance and training developers <br>
      including support Deputy Director and Director in management duties when not available. <br>
      Handles SCRUM Meeting to the developer. Involve in many projects including collaboration with vendors. <br>
      Representative for Quotation evaluation exercise (Application). Engaged in all phases of the software development lifecycle. <br>
      Participate in design meetings and consult with business user to refine, test and develop programs to meet business requirement.
    </p>
    <ul>
      <li>Involve in Official Website developments that translate design to code using SCSS, HTML5, JavaScript, JSON and Laravel</li>
      <li>Pioneer and main developer for Mobile Applications such as IIUM Mobile, E-Meeting and Staff Directory using IONIC Framework (Typescript and Angular JS),
        Android Studio, Apache Cordova
        and REST API including PHP</li>
      <li>Integration of Single Sign-On of Apereo CAS</li>
      <li>Jenkins Subject Matter Expert on deploying and integration of the application</li>
      <li>Handles SCRUM for daily updates</li>
      <li>Configuration of Alfresco for Document Management System</li>
      <li>Development of Staff Portal for internal employee to check on their leave, info and announcement etc.</li>
    </ul>
  </div>
</div>
