<div class="skills" [@flyInOutS]>
  <h3>MY SKILLS</h3>
<h5>My skills include:</h5>
<p>JavaScript, jQuery, HTML5, CSS3 (including SCSS), PHP, <br>
  Laravel Framework, Java EE (JSP), Ruby on Rails, Web Programming Skills, <br>
  Teamwork, Web User Interface Design (UI), Web Services (REST), IONIC, <br>
  Apache Cordova, Angular JS, Typescript, Adobe Experience Manager</p>
</div>
