<div class="main-app">
  <h1>{{title}}</h1>
  <div class="profile">
    <img src="https://adisazizan.xyz/img/android-icon-144x144.png" alt="My profile image" class="proimg">
    <h2>ADIS NABAWI, AZIZAN</h2>
    <h3>PROFILE</h3>
    <div class="bod">

    </div>
    <p>
      Experience in open source technology and fast learner to develop web applications or software.<br>
      Enthusiastic in learning new technology and have many experiences as team leader and web application development. <br>
      Familiar with both Agile Framework and Waterfall software development methodology including conducting Scrum meeting.
    </p>
  </div>
  <div class="menu">
    <nav>
      <div class="links" routerLink="/education" routerLinkActive="activetabs">
        Education
      </div>
      <div class="links" routerLink="/experience" routerLinkActive="activetabs">
        Experience
      </div>
      <div class="links" routerLink="/skills" routerLinkActive="activetabs">
        Skills
      </div>
      <div class="links" routerLink="/video" routerLinkActive="activetabs">
        My Video
      </div>

    </nav>
    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
<div class="footer">
  <p>Develop with &#10084; <a href="https://angular.io/">Angular</a>. Copyright 2019  &#9889; <a href="https://adisazizan.xyz">adisazizan.xyz</a></p>
</div>
