.main-app {
  color: #fff;
  padding: 20px;
  min-height: 90vh;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
}

.main-app h1 {
  padding-bottom: 20px;
}

.main-app .proimg {
  border-radius: 50%;
  border: 3px solid #fff;
}
.bod {
  margin: 0 auto;
  border-bottom: 3px solid #fff;
  width: 30px;
}

.links {
  outline: none;
}
.menu nav{
  margin: 20px;
}
.menu nav .links{
  width: 20%;
  float: left;
  padding: 1%;
  margin: 1%;
  background-color: transparent;
  text-decoration: none;
  color:#fff;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  border: 2px solid #3769a7;
}

.menu nav .links:hover{
  background-color: #fff;
  color: #000;
}
.activetabs {
  background-color: #fff !important;
  color: #000 !important;
}

.content {
  padding-top: 20px;
  clear: both;
}

@media only screen and (max-width: 600px){
  .menu nav .links{
    width: 41%;
    padding: 2%;
  }
}
